@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --primary-color: #18181A;     
  --secondary-color: #242527;
  --pri-bg-color:#FBFBFB;
  --sec-bg-color:#ffffff;
}

body{
  background-color: var(--pri-bg-color);
  font-family: 'Poppins', sans-serif;
}


/* COMMON */
.section-head {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  display: flex;
  gap: 10px;
}

.section-icon{
  font-size: 20px;
  font-weight: bold;
}


/* HOME */

.Home-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Home-head{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.Home-head-title{
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 116.5%;
}

.Home-head-para{
  font-style: normal;
  font-weight: 275;
  font-size: 14px;
  line-height: 21px;
}

.Home-cards-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Home-Card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  background-color:  var(--sec-bg-color);
  border-radius: 10px;
  box-shadow: 0px 3px 25px 3px rgba(0, 0, 0, 0.1);
  font-weight: 500;
}

.Home-card-head{
  display: flex;
  gap: 10px;
  align-items: center;
}
.btn-link-home{
  width: fit-content;
}
.Home-card-head-icon{
  font-size: 30px;  
  font-weight: bold;
}
.Home-card-button{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
}




/* ADD QUSTION */

.Add-question-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-section-wrapper{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;

}



/* QUSTIONS */
.Questions-section{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  margin: auto;
}

.Questions-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;

}

.collapse-tag{
  margin-top: 10px;
}

/* GENERATE PAPER PAGE */
.Generate-paper-page{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: auto;
}

.Generate-form{
  margin-top:20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-criteria-wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 5px;
    border-radius: 6px;
    box-shadow: 0px 3px 25px 3px rgba(0, 0, 0, 0.1);
    gap: 5px;

}


.spec-item{
  width: 100% ;
  margin: 0;
}


.add-btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.Generate-btn{
  margin-top: 20px;
}


/* QUESTION PAPER */

.Question-paper-section{
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  width: 100%;
  /* aspect-ratio: 1/1.4 ; */
  margin: auto;
  justify-content: center;
  
}


/* FOOTER */
.Footer {
  padding: 10px;
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: rgb(184, 184, 184);
}




@media (min-width: 711px) {

  /* HOME */

  .Home-section{
    padding-left: 40px;
    padding-right: 40px;
  }
  .Home-head-title{
    max-width: 1000px;
    width: 100%;
    font-size: 55px;
  }

  .Home-cards-wrapper{
    flex-direction: row;
    gap: 10px;
  }






}


@media (min-width: 950px) {

  /* HOME */

  .Home-section{
    padding-left: 40px;
    padding-right: 40px;
  }
  .Home-head-title{
    font-size: 75px;
  }
  .Home-Card{
    width: 365px;
  }
  






}
@media (min-width: 500px) {
  /* GENERATE */
  .question-criteria-wrapper{
    flex-direction: row;
  }

  .spec-item{
    width: 20% ;
    margin: 0;
  }
  .spec-item:nth-child(4){
  flex: 1;
  }


}